.container{
	margin: 0;
	padding: 0;
}
body{
	font-size: 12px;
	background:#f8f8ff;
}
.header{
	width: 30%;
	margin:50px auto 0px ;
	color: white;
	background:#036d77;
	text-align:center;
	border:1px solid #80C4DE;
	border-bottom:none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;

}
form,#error{
	width:30%;
	margin: 0px auto 0 ;
	padding: 20px;
	border:1px solid #80C4DE;	
	background:white;
	border-radius:0px 0px 10px 10px;
}
.input-group{
	margin: 10px 0px 10px 0px;
}
.input-group label{
	display:block;
	text-align: left;
	margin: 3px;
}
.input-group input{
	height:30px;
	width:93%;
	padding: 5px px;
	font-size: 16px;
	border-radius:5px;
	border:1px solid gray; 
}
.btn{
	padding: 10px;
	font-size: 15px;
	color:white;
	background:#0c757e;
	border:none;
	border-radius:5px;
}
#error{
	width: 300px;
	margin:0px auto;
	padding: 5px;
	border:1px solid red;
	color:#ffffff ;
	background: #f2929d;
	border-radius:5px;
	text-align: center;

}
